
/* Footer Styles */

/* .footer {
    background-color: #1d1d2c;
    color: #fff;
    padding: 40px 0;
}
.footer h4, .footer h5 {
    margin-bottom: 20px;
    font-weight: bold;
}
.footer .subscribe-form {
    display: flex;
    max-width: 400px;
    margin-bottom: 20px;
}
.footer .subscribe-form input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}
.footer .subscribe-form button {
    padding: 10px 20px;
    background-color: #7c99b9;
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    cursor: pointer;
}
.footer .social-icons {
    display: flex;
    justify-content: center;
}
.footer .social-icons a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
.footer .social-icons a:hover {
    color: #007bff;
}
.footer .footer-links {
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
}
.footer .footer-links ul {
    list-style: none;
    padding: 0;
}
.footer .footer-links ul li {
    margin-bottom: 10px;
}
.footer .footer-links ul li a {
    color: #bbb;
    text-decoration: none;
}
.footer .footer-links ul li a:hover {
    color: #fff;
}
.footer .footer-copy {
    margin-top: 20px;
}
.footer .footer-copy a {
    color: #007bff;
    text-decoration: none;
} */
